/* #region HERO */
/* САМЫЙ УЗКИЙ ЭКРАН */
#hero-section .hero-canvas-wrapper {
  /* display: none; */
  visibility: hidden;
}
#hero-section {
  background-image: url('/mobile.png');
}

@media (min-aspect-ratio: 2/3) {
  #hero-section .hero-canvas-wrapper {
    /* display: none; */
    visibility: hidden;
  }

  #hero-section {
    background-image: url('/portrait.png');
  }
}

@media (min-aspect-ratio: 1/1) {
  #hero-section .hero-canvas-wrapper {
    width: 100%;
    height: auto;

    background-color: rgb(255, 0, 98);

    /* display: none; */
    visibility: hidden;
  }

  #hero-section {
    background-image: url('/square.png');
  }
}

@media (min-aspect-ratio: 5/4) {
  #hero-section .hero-canvas-wrapper {
    width: 100%;
    height: auto;

    background-color: red;

    /* display: block; */
    visibility: visible;
  }
}

@media (min-aspect-ratio: 3/2) {
  #hero-section .hero-canvas-wrapper {
    width: 100%;
    height: auto;

    background-color: orange;

    /* display: block; */
    visibility: visible;
  }
}

@media (min-aspect-ratio: 16/9) {
  #hero-section {
  }
  #hero-section .hero-canvas-wrapper {
    width: 100%;
    height: auto;

    background-color: yellow;

    /* display: block; */
    visibility: visible;
  }
}
/* #endregion HERO */

/* Targets tablets and mobile devices (any screen narrower than 768px) */
@media screen and (max-width: 767px) {
  /* скрываем десктопные панели в мобильной версии */
  #creation-section .panel {
    display: none !important;
  }

  /* скрываем летающие снопки */
  #canvas-buttons-wrapper .anchored-button {
    display: none;
  }

  #creation-section {
    height: auto;
    min-height: 100vh;
  }

  #creation-section #canvas-buttons-wrapper {
  }
}
