/* #region HERO */
/* САМЫЙ УЗКИЙ ЭКРАН */
#hero-section .hero-canvas-wrapper {
  /* display: none; */
  visibility: hidden;
}
#hero-section {
  background-image: url('/mobile.png');
}

@media (min-aspect-ratio: 2/3) {
  #hero-section .hero-canvas-wrapper {
    /* display: none; */
    visibility: hidden;
  }

  #hero-section {
    background-image: url('/portrait.png');
  }
}

@media (min-aspect-ratio: 1/1) {
  #hero-section .hero-canvas-wrapper {
    width: 100%;
    height: auto;

    /* background-color: rgb(255, 0, 98); */

    /* display: none; */
    visibility: hidden;
  }

  #hero-section {
    background-image: url('/square.png');
  }
}

@media (min-aspect-ratio: 5/4) {
  #hero-section .hero-canvas-wrapper {
    /* background-color: rgba(255, 0, 0, 0.319); */
    visibility: visible;

    /* margin-bottom: -4%; */
    /* padding-bottom: 4%; */
  }

  #hero-section {
    height: 105dvh;
    background-image: none;
  }
}

@media (min-aspect-ratio: 3/2) {
  #hero-section .hero-canvas-wrapper {
    /* background-color: rgba(255, 166, 0, 0.484); */
    visibility: visible;

    /* margin-bottom: -15%; */
    /* padding-bottom: 15%; */
  }

  #hero-section {
    height: 119dvh;
    background-image: none;
  }
}

@media (min-aspect-ratio: 16/9) {
  #hero-section .hero-canvas-wrapper {
    /* background-color: rgba(255, 255, 0, 0.488); */
    visibility: visible;

    /* margin-bottom: -19%; */
    /* padding-bottom: 19%; */
  }
  #hero-section {
    height: 145dvh;
    background-image: none;
  }
}
/* #endregion HERO */

/* Targets tablets and mobile devices (any screen narrower than 768px) */
@media screen and (max-width: 767px) {
  /* #region Шапка */

  body #site-header {
    justify-content: center;
    height: clamp(60px, 18vw, 90px);
    padding: 0 20px;
  }

  body #header-logo {
    width: clamp(70px, 25vw, 110px);
  }

  body #header-ap {
    display: none;
  }

  /* #endregion Шапка */

  /* скрываем десктопные панели в мобильной версии */
  #creation-section .panel {
    display: none !important;
  }

  /* скрываем летающие снопки */
  #canvas-buttons-wrapper .anchored-button {
    display: none;
  }

  #creation-section {
    height: auto;
    min-height: 100vh;
  }

  #creation-section #canvas-buttons-wrapper {
  }
  /* #region CAMERA-section */
  #camera-section .camera-screen {
    inset: 4vh 4vw 10vh;

    border-radius: 14vw;
  }

  .controls {
    bottom: 5vh;
  }

  .button {
    padding: 12px 16px;
  }
  /* #endregion camera-section */
}
