.mascot-widget {
  position: fixed;
  left: 50%;
  bottom: 24px;
  transform: translateX(-50%);

  width: 100px;
  aspect-ratio: 1 / 1;

  box-sizing: border-box;

  border-radius: 50%;

  z-index: 1000;

  /* perspective: 2000px; */
}

.mascot-message {
}

.mascot-message.is-visible {
}

.mascot-head {
  position: absolute;
  /* на сколько белое лицо отступает от границы плашки, то есть паддинг  */
  inset: 15%;
  border-radius: 50%;
  background-color: white;
  filter: blur(7px);
  opacity: 0.9;
}

.mascot-face {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transform-style: preserve-3d;
  will-change: transform;
}
