@import 'reset.css';
@import 'fonts.css';
@import 'layout.css';
@import '/src/mascot.css';
@import '/src/panel-system.css';
@import '/src/camera.css';
@import '/src/mobile-menu.css';
@import '/src/adaptive.css';

/* Константы */
:root {
  --color-background: #d7d7d7;
  /* параметры плашек */
  --color-transparent-card: rgba(255, 255, 255, 0.78);
  --radius-card: 32px;
  --backdrop-blur-card: 20px;
  --color-border: rgba(231, 231, 231, 0.3);
  --color-text: #bababa;
  --color-grid: rgba(255, 255, 255, 0.5);
}

body {
  font-family: 'Montserrat', sans-serif;
  /* background-color: blueviolet; */
}

.transparent-material {
  background: var(--color-transparent-card);
  backdrop-filter: blur(var(--backdrop-blur-card));
  -webkit-backdrop-filter: blur(var(--backdrop-blur-card));
  border: solid 1px var(--color-border);
  color: var(--color-text);
}
